<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= image_tag('logo.png', size: '45x42') %>
  <%= link_to "WeConnect!", root_path, class: "navbar-brand"  %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
       <a class="nav-link" href="/businesses"><i class="fas fa-business-time"></i> Businesses</a>
      </li>
      <li class="nav-item">
        <i class="fas fa-search"></i><%= link_to "Search", business_search_path, class: 'nav-link search' %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i>
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if user_signed_in? %>
<!--          <a class="dropdown-item" href="/users/sign_out"> Logout</a>-->
            <div class="dropdown-item logout"><i class="fas fa-sign-out-alt"></i>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "logout"%>
            </div>
          <a class="dropdown-item" href="#"><i class="fas fa-user-md"></i> User Profile</a>
            <div class="dropdown-item logout"><i class="fas fa-business-time"></i>
              <%= link_to "Register Business", new_business_path, class: "logout"%>
            </div>
            <% else %>
            <a class="dropdown-item" href="/users/sign_in"><i class="fas fa-sign-in-alt"></i> Login</a>
            <a class="dropdown-item" href="/users/sign_up"><i class="fas fa-user-plus"></i> Sign up</a>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</nav>
